body {
    margin: 0;
    background-image:url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    font-family: 'Kumbh Sans', sans-serif;
    background-position: right 50vw bottom 50vh,50vw 50vh;
    background-repeat: no-repeat;
    background-color:  hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 22rem;
    background: white;
    border-radius: 1rem;;
}
.card-body {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #96969630;
}
.card-body img {
    width: 100px;
    border-radius: 50%;
    background: white;
    padding: 5px;
    position: absolute;
    top:-50px;
}
.card-img {
    background-image: url(./images/bg-pattern-card.svg);
    background-position: inherit;
    background-size: cover;
    width: 100%;
    height: 9rem;
    border-radius: 1rem 1rem 0 0
}
.personal-data {
    margin-top: 80px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.personal-data > span {
    margin-bottom: 10px;
}
.user-name {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229deg 5% 9%);
    opacity: 0.9;
}
.user-age {
    color: hsl(227, 10%, 46%);
    font-size: 19px;
}
.user-city {
    text-align: center;
    color: hsl(227, 10%, 46%);
    font-size: 13px;
    letter-spacing: 0.5px;
}
.card-footer {
    display: flex;
    justify-content: center;
}
ul {
    display: contents;
}
ul > li {
    list-style: none;
    padding: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
ul > li> span {
    font-weight: bold;
    font-size: 18px;
    color: hsl(229deg 23% 23% / 94%);
}
ul > li> a {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 10px;
    letter-spacing: 2px;
}
@media (max-width: 720px) {
    body {
        padding: 1.5rem;
    }
}